@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {

}


/* mobile and tablet */
@media (max-width: 1023px) {
    .hide-on-mobi-tab {
        display: none;
    }

    
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .sigle-slide {
        max-width: 100%;
    }

    .sigle-slide__img {
        width: 100%;
    }

    .form-register--wrap {
        width: 100%;
    }

    .form-wrapper {
        width: 80%;
        margin: 0 auto;
    }

}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .product-item {
        padding-left: 4px;
        padding-right: 4px;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .form {
        flex-direction: column;
        min-width: 90vw;
        height: 600px;
    }

    .form.open {
        top: 10%;
    }

    .form-info {
        flex: 0.5;
        margin-right: 0;
    }
    
    .form-wrapper  {
        max-height: 400px;
        padding-right: 6px;
        flex: 0.5;
    }

    .cart-products {
        max-width: 350px;
        top: 40px;
        right: -50%;
    }
}